<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Home</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/home/home.css">
    <link rel="stylesheet" href="css/home/search-btns.css">
    <script src="js/home/home.js"></script>
</head>

<body>
    <%- include("./partials/header.ejs") %>

        <div id="get-admin-btn">
            <a href="/adminCheck"> Get Admin Privileges</a>
        </div>

        <section id="about-us">
            <div>
                <h3>About us</h3>
                <p>The Department of landscape design and ecosystem management has developed
                    this plant database site in
                    line
                    with the department’s ecological orientation thus the database is focusing on native, naturalized,
                    and
                    ecologically suitable plant species for the middle east region.
                    <span id="hidden-about-us">
                        The user will be able to identify plants found the database or search by name. The search by
                        criteria is allowing the users to search the database to find trees, shrubs and vines for
                        specific landscape situations and or local conditions.After following the completion of the
                        project, the department regularly updates of the database and increase the number of inputted
                        information to cover all landscape plants ecologically suitable for the region.
                    </span>
                    <a id="show-more">Show More</a>
                </p>
            </div>
        </section>

        <section id="spotlight-search">
            <div id="spotlight-left">
                <h3>Spot Light</h3>
                <img src="./images/plants/<%=spotLight.name%>0.jpg" alt="" height="300px" width="300px">
                <h1>
                    <%= spotLight.name %>
                </h1>
                <p>
                    <%= spotLight.description %> <br> <br>
                        <a href="/ByName?name=<%= spotLight.name %>"> Check its profile </a>
                </p>
            </div>
            <div id="search-right">

                <%- include("./partials/alphabet_links.ejs") %>

                    <div id="search-btn-container">
                        <div class="search-btn-buffer">
                            <a class="search-btn" href="/searchName">
                                <p>Filter By Name</p>
                                <img src="images/filter_buttons/tab_search.png" alt="magnifying glass">
                            </a>
                        </div>
                        <div class="search-btn-buffer">
                            <a class="search-btn" href="/FilterByCriteria">
                                <p>Filter By Criteria</p>
                                <img src="images/filter_buttons/tab_criteria.png" alt="barcode">
                            </a>
                        </div>
                        <div class="search-btn-buffer">
                            <a class="search-btn" href="/FilterByIdentification">
                                <p>Filter By Identification</p>
                                <img src="images/filter_buttons/tab_identification.png" alt="fingerprint">
                            </a>
                        </div>
                    </div>
            </div>

        </section>

        <%- include("./partials/footer.ejs") %>
</body>

</html>