<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Plant Profile</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/global styles/search-buttons.css">
    <link rel="stylesheet" href="css/plant_profile/plant-profile.css">
    <script src="js/plant_profile/plant_profile.js"></script>
</head>

<body>
    <%- include("./partials/header.ejs") %>

        <main>
            <div id="search-btn-container">
                <div class="search-btn-buffer">
                    <a class="search-btn" href="/searchName">
                        <p>Filter By Name</p>
                        <img src="images/filter_buttons/tab_search.png" alt="magnifying glass">
                    </a>
                </div>
                <div class="search-btn-buffer">
                    <a class="search-btn" href="/FilterByCriteria">
                        <p>Filter By Criteria</p>
                        <img src="images/filter_buttons/tab_criteria.png" alt="barcode">
                    </a>
                </div>
                <div class="search-btn-buffer">
                    <a class="search-btn" href="/FilterByIdentification">
                        <p>Filter By Identification</p>
                        <img src="images/filter_buttons/tab_identification.png" alt="fingerprint">
                    </a>
                </div>
            </div>

            <div id="profile-container">
                <h3>Plant Profile</h3>

                <h4 id="plant-name">
                    <%= plant.name %>
                </h4>

                <h4 id="plant-sc-name">
                    <%= plant.scientific_name %>
                </h4>

                <p id="plant-description">
                    <%= plant.description %>
                </p>

                <div id="tabs-container">
                    <button class="tab selected-tab" value="1">Landscape Information</button>
                    <button class="tab" value="2">Botanical Description</button>
                    <button class="tab" value="3">Horticulture Management</button>
                </div>

                <div id="plant-content">
                    <div id="plant-images">
                        <div id="image-sidebar">
                            <% for(let j=0 ; j< plant.pictures; j++) { %>
                                <% if(j==0) { %>
                                    <img class="side-image" alt="" src="./images/plants/<%=plant.name%>0.jpg">
                                    <% } else if(j==1) { %>
                                        <img class="side-image" alt="" src="./images/plants/<%=plant.name%>1.jpg">
                                        <% } else { %>
                                            <img class="side-image" alt="" src="./images/plants/<%=plant.name%>2.jpg">
                                            <% } %>

                                                <% } %>
                        </div>
                        <img id="zoomedImage" alt="" src="./images/plants/<%=plant.name%>0.jpg">
                    </div>
                    <div id="plant-tab">
                        <div id="plant-tab-landscape">
                            <p class="label">French Name: <span id="french-name">
                                    <%= plant.french_name %>
                                </span></p>
                            <p class="label">Pronounciation: <span id="pronounciation">
                                    <%= plant.pronounciation %>
                                </span></p>
                            <hr>
                            <p class="label">Plant Type: <span id="plant-type">
                                    <%= plant.type %>
                                </span></p>
                            <hr>
                            <p class="label">Origin: <span id="origin">
                                    <%= plant.origin %>
                                </span></p>
                            <hr>
                            <p class="label">Heat Zones: <span id="heat-zones">
                                    <%= plant.heat %>
                                </span></p>
                            <p class="label">Hardiness Zones: <span id="hardiness-zones">
                                    <%= plant.hardiness %>
                                </span></p>
                            <hr>
                            <p class="label">Uses: <span id="uses">
                                    <%= plant.uses%>
                                </span></p>
                            <hr>
                            <h5>Size/Shape</h5>
                            <p class="label">Growth Rate: <span id="growth-rate">
                                    <%= plant.growth_rate %>
                                </span></p>
                            <p class="label">Tree Shape: <span id="tree-shape">
                                    <%= plant.tree_shape %>
                                </span></p>
                            <p class="label">Canopy Texture: <span id="canopy-texture">
                                    <%= plant.canopy %>
                                </span></p>
                            <p class="label">Height at Maturity: <span id="height-at-maturity">
                                    <%= plant.height %>
                                </span>
                            </p>
                            <p class="label">Spread at Maturity: <span id="spread-at-maturity">
                                    <%= plant.spread %>
                                </span>
                            </p>
                        </div>
                        <div id="plant-tab-botanical">
                            <h5>Foliage</h5>
                            <p class="label">Leaf Arrangement: <span id="leaf-arrangement"><%= plant.Leaf_Arrangement %></span></p>
                            <p class="label">Leaf Venation: <span id="leaf-venation"><%= plant.Leaf_Venation %></span></p>
                            <p class="label">Leaf Persistance: <span id="leaf-persistance"><%= plant.Leaf_Persistance %></span></p>
                            <p class="label">Leaf Type: <span id="leaf-type"><%= plant.Leaf_Type %></span></p>
                            <p class="label">Leaf Blade: <span id="leaf-blade"><%= plant.Leaf_Blade %></span></p>
                            <p class="label">Leaf Shape: <span id="leaf-shape"><%= plant.Leaf_Shape %></span></p>
                            <p class="label">Leaf Margins: <span id="leaf-margins"><%= plant.Leaf_Margins %></span></p>
                            <p class="label">Leaf Texture: <span id="leaf-texture"><%= plant.Leaf_Texture %></span></p>
                            <p class="label">Leaf Scent: <%= plant.Leaf_Scent %></span></p>
                            <p class="label">Color (growing season): <span id="color-growing-season"><%= plant.color_growing_season %></span></p>
                            <p class="label">Color (changing season): <span id="color-changing-season"><%= plant.color_changing_season %>
                                    </span></p>
                            <hr>
                            <h5>Flower</h5>
                            <p class="label">Flower Showiness: <span id="flower-showiness"><%= plant.Flower_Showiness %></span></p>
                            <p class="label">Flower Size Range: <span id="flower-size-range"><%= plant.Flower_Size %></span>
                            </p>
                            <p class="label">Flower Type: <span id="flower-type"><%= plant.Flower_Type %></span></p>
                            <p class="label">Flower Scent: <span id="flower-scent"><%= plant.Flower_Scent %></span></p>
                            <p class="label">Flower Color: <span id="flower-color"><%= plant.Flower_Color %></span></p>
                            <p class="label">Seasons: <span id="seasons"><%= plant.seasons %></span></p>
                            <hr>
                            <h5>Fruit</h5>
                            <p class="label">Fruit Type: <span id="fruit-type"><%= plant.Fruit_Type %></span></p>
                            <p class="label">Fruit Showiness: <span id="fruit-showiness"><%= plant.Fruit_Showiness %></span></p>
                            <p class="label">Fruit Size Range: <span id="fruit-size-range"><%= plant.Fruit_Size %></span></p>
                            <p class="label">Fruit Color: <span id="fruit-color"><%= plant.Fruit_Color %></span></p>
                        </div>
                        <div id="plant-tab-horticulture">
                            <h5>Tolerance</h5>
                            <p class="label">Heat Tolerance: <span id="heat-tolerance"><%= plant.Heat_Tolerance %></span></p>
                            <p class="label">Drought Tolerance: <span id="drought-tolerance"><%= plant.Drought_Tolerance %></span>
                            </p>
                            <p class="label">Salt Tolerance: <span id="salt-tolerance"><%= plant.Salt_Tolerance %></span></p>
                            <hr>
                            <h5>Requirement</h5>
                            <p class="label">Soil Requirements: <span id="soil-requirements"><%= plant.Soil_Requirements %></span>
                            </p>
                            <p class="label">Soil Ph Requirements: <span id="soil-ph-requirements"><%= plant.Soil_Ph_Requirements %>
                                    </span></p>
                            <p class="label">Water Requirements: <span id="water-requirements"><%= plant.Water_Requirements %>
                                    </span>
                            </p>
                            <p class="label">Light Requirements: <span id="light-requirements"><%= plant.Light_Requirements %>
                                    </span>
                            </p>
                            <hr>
                            <h5>Management</h5>
                            <p class="label">Invasive Potential: <span id="invasive-potential"><%= plant.Invasive_Potential %>
                                    </span>
                            </p>
                            <p class="label">Prunning Requirements: <span id="prunning-requirements"><%= plant.Prunning_Requirements %>
                                    </span></p>
                            <p class="label">Edible Parts: <span id="edible-parts"><%= plant.Edible_Parts %></span></p>
                            <p class="label">Plant Propagation: <span id="plant-propagation"><%= plant.Plant_Propagation %></span>
                            </p>
                        </div>
                    </div>
                </div>

                <a href="https://www.google.com/search?q=<%=plant.name%>">Search Plant on Google</a>
                <br>
                <a href="#">Download as PDF</a>
            </div>
        </main>

        <%- include("./partials/footer.ejs") %>
</body>

</html>

<style> 
span{
    color: #40916cff;
}
