<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Plant Profile</title>
    <link rel="stylesheet" href="css/global styles/header-footer.css">
    <link rel="stylesheet" href="css/global styles/search-buttons.css">
    <link rel="stylesheet" href="css/plant_profile/plant-profile.css">
    <script src="js/plant_profile/tabs.js"></script>
    <script src="js/global js/footer.js"></script>
</head>

<body>
    <header id="header">
        <a id="logo" href="/">
            <img src="css/global images/AUB logo.png" alt="AUB Logo">
            <p>Landscape Design & Ecosystem Management</p>
            <p>Faculty of Agriculture & Food Sciences</p>
        </a>
        <div id="nav-container">
            <h1>AUB Landscape Plant Database</h1>
            <nav id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Useful Links</a></li>
                <li><a href="#">Image Gallery</a></li>
                <li><a href="#">Popular Plant Categories</a></li>
                <li><a href="#">Glossary</a></li>
                <li><a href="#">Contact Us</a></li>
            </nav>
        </div>
    </header>

    <main>
        <div id="search-btn-container">
            <div class="search-btn-buffer">
                <a class="search-btn" href="/searchName">
                    <p>Filter By Name</p>
                    <img src="css/global images/tab_search.png" alt="magnifying glass">
                </a>
            </div>
            <div class="search-btn-buffer">
                <a class="search-btn" href="#">
                    <p>Filter By Criteria</p>
                    <img src="css/global images/tab_criteria.png" alt="barcode">
                </a>
            </div>
            <div class="search-btn-buffer">
                <a class="search-btn" href="#">
                    <p>Filter By Identification</p>
                    <img src="css/global images/tab_identification.png" alt="fingerprint">
                </a>
            </div>
        </div>

        <div id="profile-container">
            <h3>Plant Profile</h3>

            <!-- <h4 id="plant-name">>>Plant Name</h4> -->
            <h4 id="plant-name"><%= plant.name %></h4>
            <!-- <h4 id="plant-sc-name">>>Plant Scientific Name</h4> -->
            <h4 id="plant-sc-name"><%= plant.scientific_name %></h4>


            <p id="plant-description"><%= plant.description %></p>

            <div id="tabs-container">
                <button class="selected-tab tab" value="1">Landscape Information</button>
                <button class="tab" value="2">Botanical Description</button>
                <button class="tab" value="3">Horticulture Management</button>
            </div>

            <div id="plant-content">
                <div id="plant-images">
                    <% 
                    for(let j = 0 ; j< plant.pictures; j++) {  %>
                        
                        <% if(j==0) 
                        { %>
                            <img  src="./images/<%=plant.name%>0.jpg" style="height: 250px" > 
                        <% } else if(j==1) { %>
                            <img  src="./images/<%=plant.name%>1.jpg" style="height:250px" >  
                        <% } else { %>
                            <img  src="./images/<%=plant.name%>2.jpg" style="height: 250px" >  
                        <% } %>
                       
                   

                        <% } %>



                </div>
                <div id="plant-tab">
                    <div id="plant-tab-landscape">
                        <p class="label">French Name: <span id="french-name"><%= plant.french_name %></span></p>
                        <p class="label">Pronounciation: <span id="pronounciation"><%= plant.pronounciation %></span></p>
                        <hr>
                        <p class="label">Plant Type: <span id="plant-type"><%= plant.type %></span></p>
                        <hr>
                        <p class="label">Origin: <span id="origin"><%= plant.origin %></span></p>
                        <hr>
                        <p class="label">Heat Zones: <span id="heat-zones"><%= plant.heat %></span></p>
                        <p class="label">Hardiness Zones: <span id="hardiness-zones"><%= plant.hardiness %></span></p>
                        <hr>
                        <p class="label">Uses: <span id="uses"><%= plant.uses%></span></p>
                        <hr>
                        <h5>Size/Shape</h5>
                        <p class="label">Growth Rate: <span id="growth-rate"><%= plant.growth_rate %></span></p>
                        <p class="label">Tree Shape: <span id="tree-shape"><%= plant.tree_shape %></span></p>
                        <p class="label">Canopy Texture: <span id="canopy-texture"><%= plant.canopy %></span></p>
                        <p class="label">Height at Maturity: <span id="height-at-maturity"><%= plant.height %></span>
                        </p>
                        <p class="label">Spread at Maturity: <span id="spread-at-maturity"><%= plant.spread %></span>
                        </p>
                    </div>
                    <div id="plant-tab-botanical">
                        <h5>Foliage</h5>
                        <p class="label">Leaf Arrangement: <span id="leaf-arrangement">>>Leaf Arrangement</span></p>
                        <p class="label">Leaf Venation: <span id="leaf-venation">>>Leaf Venation</span></p>
                        <p class="label">Leaf Persistance: <span id="leaf-persistance">>>Leaf Persistance</span></p>
                        <p class="label">Leaf Type: <span id="leaf-type">>>Leaf Type</span></p>
                        <p class="label">Leaf Blade: <span id="leaf-blade">>>Leaf Blade</span></p>
                        <p class="label">Leaf Shape: <span id="leaf-shape">>>Leaf Shape</span></p>
                        <p class="label">Leaf Margins: <span id="leaf-margins">>>Leaf Margins</span></p>
                        <p class="label">Leaf Texture: <span id="leaf-texture">>>Leaf Texture</span></p>
                        <p class="label">Leaf Scent: <span id="leaf-scent">>>Leaf Scent</span></p>
                        <p class="label">Color (growing season): <span id="color-growing-season">>>Color (growing
                                season)</span></p>
                        <p class="label">Color (changing season): <span id="color-changing-season">>>Color (changing
                                season)</span></p>
                        <hr>
                        <h5>Flower</h5>
                        <p class="label">Flower Showiness: <span id="flower-showiness">>>Flower Showiness</span></p>
                        <p class="label">Flower Size Range: <span id="flower-size-range">>>Flower Size Range</span></p>
                        <p class="label">Flower Type: <span id="flower-type">>>Flower Type</span></p>
                        <p class="label">Flower Scent: <span id="flower-scent">>>Flower Scent</span></p>
                        <p class="label">Flower Color: <span id="flower-color">>>Flower Color</span></p>
                        <p class="label">Seasons: <span id="seasons">>>Seasons</span></p>
                        <hr>
                        <h5>Fruit</h5>
                        <p class="label">Fruit Type: <span id="fruit-type">>>Fruit Type</span></p>
                        <p class="label">Fruit Showiness: <span id="fruit-showiness">>>Fruit Showiness</span></p>
                        <p class="label">Fruit Size Range: <span id="fruit-size-range">>>Fruit Size Range</span></p>
                        <p class="label">Fruit Color: <span id="fruit-color">>>Fruit Color</span></p>
                    </div>
                    <div id="plant-tab-horticulture">
                        <h5>Tolerance</h5>
                        <p class="label">Heat Tolerance: <span id="heat-tolerance">>>Heat Tolerance</span></p>
                        <p class="label">Drought Tolerance: <span id="drought-tolerance">>>Drought Tolerance</span></p>
                        <p class="label">Salt Tolerance: <span id="salt-tolerance">>>Salt Tolerance</span></p>
                        <hr>
                        <h5>Requirement</h5>
                        <p class="label">Soil Requirements: <span id="soil-requirements">>>Soil Requirements</span></p>
                        <p class="label">Soil Ph Requirements: <span id="soil-ph-requirements">>>Soil Ph
                                Requirements</span></p>
                        <p class="label">Water Requirements: <span id="water-requirements">>>Water Requirements</span>
                        </p>
                        <p class="label">Light Requirements: <span id="light-requirements">>>Light Requirements</span>
                        </p>
                        <hr>
                        <h5>Management</h5>
                        <p class="label">Invasive Potential: <span id="invasive-potential">>>Invasive Potential</span>
                        </p>
                        <p class="label">Prunning Requirements: <span id="prunning-requirements">>>Prunning
                                Requirements</span></p>
                        <p class="label">Edible Parts: <span id="edible-parts">>>Edible Parts</span></p>
                        <p class="label">Plant Propagation: <span id="plant-propagation">>>Plant Propagation</span></p>
                    </div>
                </div>
            </div>

            <a href="#">Search Plant on Google</a>
            <br>
            <a href="#">Download as PDF</a>
        </div>
    </main>

    <footer id="footer">
        <img id="footer-bkg" src="css/global images/footer-bg-colored.png" alt="background">
        <div>
            <a href="http://www.aub.edu.lb/main/aub_files/Pages/copyright.aspx" target="_blank">
                &copy; Copyright
            </a>
            <a href="/Pages/Citing">
                Citing the plant Database
            </a>
            <a href="/Pages/Acknowledgments">
                Acknowledgments
            </a>
            <a href="/ContactUs">
                Contact Us
            </a>
        </div>
    </footer>
</body>

</html>